<form class="form-signin" action="showLanding" method="post">

        <label for="Username" class="sr-only">User name</label>
        <input type="name" name="Username" id="Username" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <input id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit" value="Login" />
      </form>