<form class="form-signin" action="" method="post">

        <label for="Username" class="sr-only">User name</label>
        <input type="name" name="Username" id="Username" class="form-control" placeholder="Username" required autofocus>
        <input type="Firstname" name="First name"id="inputfirstname" class="form-control" placeholder="First name"required autofocus>
        <input type="Last name" name="inputLastname"id="Lastname" class="form-control" placeholder="Last name"required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <input id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" value="Sign up" />
      </form>